# ignore system files
.DS_Store

# ignore notebook checkpoints
.ipynb_checkpoints

# ignore nn project directories
Papers
Data
Test
__pycache__


# ignore latex auxiliary files
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz

